Repository yamada-ui/yamada-theme: changes, and which lefthook commands are due for each by the changed paths.
All: spellcheck, format, lint

lefthook.yaml:

pre-commit:
  piped: true
  commands:
    spellcheck:
      priority: 1
      glob: "*.{js,jsx,mjs,ts,tsx,mts,md,mdx}"
      run: |
        pnpm cspell {staged_files}

    format:
      priority: 2
      glob: "*.{js,cjs,mjs,jsx,ts,cts,mts,tsx,d.ts,yml,yaml,md,mdx,json,html,css}"
      run: |
        pnpm prettier {staged_files} --write
      stage_fixed: true

    lint:
      priority: 3
      glob: "*.{js,cjs,mjs,jsx,ts,cts,mts,tsx,d.ts}"
      run: |
        pnpm eslint {staged_files} --max-warnings=0 --fix
      stage_fixed: true

commit-msg:
  commands:
    "lint commit message":
      run: pnpm commitlint --edit {1}

chore: added words to `cspell.json`
  cspell.json
Due: format

refactor: added `ThemeBlock` component
  components/data-display/component-theme-preview.tsx
  components/data-display/theme-block.tsx
Due: spellcheck, format, lint

chore(lint): remove `eslint-plugin-prettier`
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: spellcheck, format, lint

ci(changesets): version packages
  package.json
  pnpm-lock.yaml
Due: format

chore: change theme preview to tab
  components/data-display/component-theme-preview.tsx
Due: spellcheck, format, lint

feat: added `RecursiveRow` component
  components/data-display/theme-block.tsx
  cspell.json
Due: spellcheck, format, lint

feat: themes of child elements can also be reflected by `onChangeTheme`
  components/data-display/theme-block.tsx
Due: spellcheck, format, lint

feat: added indent of nested styles
  components/data-display/theme-block.tsx
Due: spellcheck, format, lint

feat: support for displaying functions
  components/data-display/theme-block.tsx
Due: spellcheck, format, lint

feat: added `DefaultPropsBlock` component
  components/data-display/component-theme-preview.tsx
  components/data-display/theme-block.tsx
Due: spellcheck, format, lint

feat: implement `onChange` of `DefaultPropsBlock`
  components/data-display/component-theme-preview.tsx
  components/data-display/theme-block.tsx
Due: spellcheck, format, lint

feat: added `size` and `colorScheme`
  components/data-display/component-theme-preview.tsx
  components/data-display/theme-block.tsx
Due: spellcheck, format, lint

fix: remove layout padding
  layouts/component-layout.tsx
Due: spellcheck, format, lint

feat: added divider
  components/data-display/theme-block.tsx
Due: spellcheck, format, lint

refactor: change `SegmentedControl` to `RadioGroup`
  components/data-display/theme-block.tsx
Due: spellcheck, format, lint

chore: added comments
  components/data-display/component-theme-preview.tsx
  components/data-display/theme-block.tsx
Due: spellcheck, format, lint

refactor: change to table
  components/data-display/theme-block.tsx
  layouts/component-layout.tsx
Due: spellcheck, format, lint

chore: update sidebar items
  components/data-display/component-theme-preview.tsx
  components/navigation/tree.tsx
  constant/menu.ts
  i18n/ui.en.json
Due: spellcheck, format, lint

chore(lefthook): added `cache` option
  lefthook.yaml
Due: format

chore: fix `lint` script
  package.json
Due: format

chore: change value layout
  components/data-display/theme-block.tsx
Due: spellcheck, format, lint

refactor: change theme object structure
  components/data-display/theme-block.tsx
Due: spellcheck, format, lint

feat: added toggle display of listItems
  components/data-display/theme-block.tsx
Due: spellcheck, format, lint

feat: added ability to switch raw
  components/data-display/theme-block.tsx
  cspell.json
Due: spellcheck, format, lint

refactor: json formate
  components/data-display/theme-block.tsx
Due: spellcheck, format, lint

feat: added ability to display function value
  components/data-display/theme-block.tsx
Due: spellcheck, format, lint

feat: added ability of change theme
  components/data-display/theme-block.tsx
Due: spellcheck, format, lint

refactor: refactor `onChangeTheme`
  components/data-display/component-theme-preview.tsx
  components/data-display/theme-block.tsx
Due: spellcheck, format, lint

feat: added `EditableField`
  components/data-display/theme-block.tsx
  cspell.json
Due: spellcheck, format, lint

refactor: nest of `TableRow`
  components/data-display/theme-block.tsx
Due: spellcheck, format, lint

fix: fix type of styles
  components/data-display/component-theme-preview.tsx
  components/data-display/theme-block.tsx
Due: spellcheck, format, lint

feat: added input to add style
  components/data-display/theme-block.tsx
Due: spellcheck, format, lint

refactor(components/overlay): updated MobileMenuProps typing
  components/overlay/mobile-menu.tsx
Due: spellcheck, format, lint

chore(package.json): updated dependencies and moved one
  package.json
  pnpm-lock.yaml
Due: format

chore: updated gitignore and config files for cspell
  .gitignore
  cspell.json
  lefthook.yaml
Due: format

ci: updated commit message in sync workflow
  .github/workflows/sync.yml
Due: format

chore: added new entry to cspell dictionary
  cspell.json
Due: format

ci: updated GitHub token and commit message in CI config
  .github/workflows/sync.yml
Due: format

docs: update commit message guidelines in docs
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
Due: spellcheck, format
