Repository yamada-ui/yamada-theme: changes, and which lefthook commands are due for each by the changed paths.
All: 1_format, 2_lint

1_format:
  run: pnpm prettier {staged_files} --write

2_lint:
  run: pnpm eslint {staged_files} --max-warnings=0

build(test): add -D `vitest`
  package.json
  pnpm-lock.yaml
Due: 1_format

chore(eslint): add configs for vitest, testing-library
  .eslintrc
Due: none

test: add -D `@vitest/coverage-v8`
  package.json
  pnpm-lock.yaml
Due: 1_format

test: add -D `eslint-plugin-testing-library`
  package.json
  pnpm-lock.yaml
Due: 1_format

test: add -D `@testing-library/react` and other packages
  package.json
  pnpm-lock.yaml
Due: 1_format

test: add -D `@vitest/ui`
  package.json
  pnpm-lock.yaml
Due: 1_format

chore(tsconfig): enable `vitest/globals`
  tsconfig.json
Due: 1_format

chore(deps): add -D `@tsconfig/strictest`
  package.json
  pnpm-lock.yaml
Due: 1_format

feat: add `tsconfig.node.json`
  tsconfig.node.json
Due: 1_format

chore(deps): remove `eslint-plugin-vitest`
  .eslintrc
  package.json
  pnpm-lock.yaml
Due: 1_format

chore(deps): add -D `eslint-plugin-vitest`
  package.json
  pnpm-lock.yaml
Due: 1_format

chore(deps): add -D `jsdom`, `@types/jsdom`
  package.json
  pnpm-lock.yaml
Due: 1_format

test: add `vitest.config.mts`
  vitest.config.mts
Due: 1_format, 2_lint

chore: add `npm-scripts` for testing
  package.json
Due: 1_format

chore(eslint): add `.parser`
  .eslintrc
Due: none

chore(eslint): add `.root`
  .eslintrc
Due: none

chore: update `lefthook.yaml`
  lefthook.yaml
Due: 1_format

chore(scripts): set up `gen:theme`
  package.json
  scripts/theme.ts
Due: 1_format, 2_lint

feat(scripts): get theme path from `node_modules`
  package.json
  pnpm-lock.yaml
  scripts/theme.ts
Due: 1_format, 2_lint

feat(scripts): extract theme data from js file
  scripts/theme.ts
Due: 1_format, 2_lint

feat(scripts): extract `baseStyle`
  scripts/theme.ts
Due: 1_format, 2_lint

feat(scripts): extract inherited component name
  scripts/theme.ts
Due: 1_format, 2_lint

feat(scripts): extract omit keys
  scripts/theme.ts
Due: 1_format, 2_lint

refactor(scripts): refactored theme script
  scripts/theme.ts
  scripts/utils.ts
Due: 1_format, 2_lint

chore(scripts): remove scripts
  package.json
  scripts/theme.ts
  scripts/utils.ts
Due: 1_format, 2_lint

feat(components): added `Button` styles
  components/data-display/component-theme-preview.tsx
Due: 1_format, 2_lint

feat: added spellcheck
  cspell.json
  package.json
Due: 1_format

chore: added `cspell`
  package.json
  pnpm-lock.yaml
Due: 1_format

chore: update prettier
  package.json
  pnpm-lock.yaml
  tsconfig.node.json
Due: 1_format

fix: fixed typecheck error
  @types/search.d.ts
  contexts/i18n-context.tsx
  i18n/content.en.json
  i18n/content.ja.json
  utils/i18n.ts
Due: 1_format, 2_lint

feat(ci): added quality
  .github/workflows/quality.yml
  cspell.json
  package.json
Due: 1_format

fix(ci): update `pnpm/action-setup`
  .github/composite-actions/install/action.yml
Due: none

fix(ci): remove version
  .github/composite-actions/install/action.yml
  .github/workflows/quality.yml
Due: none

feat: add `.editorconfig`
  .editorconfig
Due: none

chore(eslint): setup `eslint-plugin-vitest`
  .eslintrc
Due: none

ci(sync workflow): updated actions and tokens
  .github/workflows/sync.yml
  package.json
  pnpm-lock.yaml
Due: 1_format

feat: added `EnvironmentProvider`
  components/data-display/component-preview.tsx
  cspell.json
  package.json
  pnpm-lock.yaml
Due: 1_format, 2_lint

feat: reflecting `theme` changes
  components/data-display/component-preview.tsx
  components/data-display/component-theme-preview.tsx
  components/layouts/component-body.tsx
Due: 1_format, 2_lint

chore(pre-commit): add `stage_fixed` option
  lefthook.yaml
Due: 1_format

Path conditions:
  1_format: any of: *.{js,jsx,ts,tsx,mjs,mts,yaml,json,html,css}
  2_lint: any of: *.{js,jsx,ts,tsx,mjs,mts}
