Repository yamada-ui/yamada-theme: changes, and which lefthook commands are due for each by the changed paths.
All: 1_format, 2_lint

lefthook.yaml:

pre-commit:
  piped: true
  commands:
    1_format:
      glob: "*.{js,jsx,ts,tsx,mjs,mts,yaml,json,html,css}"
      run: pnpm prettier {staged_files} --write

    2_lint:
      glob: "*.{js,jsx,ts,tsx,mjs,mts}"
      run: pnpm eslint {staged_files} --max-warnings=0

commit-msg:
  commands:
    "lint commit message":
      run: pnpm commitlint --edit {1} --config .commitlintrc

chore(pre-commit): add `--fix` option when running ESLint in pre-commit
  lefthook.yaml
Due: 1_format

chore(pre-commit): fix `glob` in `lefthook.yaml`
  lefthook.yaml
Due: 1_format

chore(npm-scripts): add `prepare` command
  package.json
Due: 1_format

chore(deps): update `eslint` to v9.x
  package.json
  pnpm-lock.yaml
Due: 1_format

refactor: remove unnecessary code
  components/data-display/component-preview.tsx
  components/data-display/component-theme-preview.tsx
Due: 1_format, 2_lint

feat: dynamic import functionality has been reverted
  @types/component.d.ts
  components/data-display/component-preview.tsx
  components/layouts/component-body.tsx
  contents/forms/button/index.tsx
  contexts/component-context.tsx
  cspell.json
  pages/forms/[[...slug]].page.tsx
  pages/sample/index.page.tsx
  utils/component.ts
  utils/next.ts
Due: 1_format, 2_lint

refactor: centered `Button` component
  contents/forms/button/index.tsx
Due: 1_format, 2_lint

refactor: refactoring of `ComponentPreview`
  components/data-display/component-preview.tsx
  components/layouts/component-body.tsx
Due: 1_format, 2_lint

fix: fixed title of metadata
  pages/_app.page.tsx
Due: 1_format, 2_lint

refactor: remove unnecessary code in `getStaticComponentProps`
  @types/component.d.ts
  pages/forms/[[...slug]].page.tsx
  utils/next.ts
Due: 1_format, 2_lint

feat: added `Accordion` example
  contents/disclosure/accordion/index.tsx
  pages/disclosure/[[...slug]].page.tsx
Due: 1_format, 2_lint

refactor: remove `ComponentCode`
  @types/component.d.ts
  utils/component.ts
  utils/next.ts
Due: 1_format, 2_lint

feat: extract theme by component
  components/data-display/component-preview.tsx
  components/data-display/component-theme-preview.tsx
  components/layouts/component-body.tsx
  utils/component.ts
Due: 1_format, 2_lint

fix: fixed yamada-ui icon size
  components/navigation/tree.tsx
Due: 1_format, 2_lint

chore(lefthook): add `1_spellcheck` command
  lefthook.yaml
Due: 1_format

chore(lefthook): set `priority`
  lefthook.yaml
Due: 1_format

chore(lefthook): remove `--config` option from `commit-msg` hook
  lefthook.yaml
Due: 1_format

build(package.json): updated node version and pnpm
  package.json
Due: 1_format

ci: updated pnpm action to v3.0.0
  .github/composite-actions/install/action.yml
Due: none

ci: updated pnpm action to v4 in CI config
  .github/composite-actions/install/action.yml
Due: none

ci: updated checkout action to v4 in sync workflow
  .github/workflows/sync.yml
Due: none

build: updated yamada-ui packages versions
  package.json
  pnpm-lock.yaml
Due: 1_format

feat: added `sidebar`
  components/data-display/index.ts
  components/data-display/scroll-shadow.tsx
  components/layouts/index.ts
  components/layouts/sidebar.tsx
  layouts/component-layout.tsx
Due: 1_format, 2_lint

refactor: change component layout
  layouts/component-layout.tsx
Due: 1_format, 2_lint

feat: added `componentTree` to `sidebar`
  @types/component.d.ts
  components/navigation/tree.tsx
  pages/disclosure/[[...slug]].page.tsx
  pages/forms/[[...slug]].page.tsx
  utils/next.ts
Due: 1_format, 2_lint

feat: added `sidebar` to index page
  layouts/app-layout.tsx
  pages/index.page.tsx
  utils/next.ts
Due: 1_format, 2_lint

chore: remove `.eslintrc`, `.eslintignore`
  .eslintignore
  .eslintrc
Due: none

chore(npm-scripts): update `lint` command
  package.json
Due: 1_format

chore(npm-scripts): add `lint:inspect` command
  package.json
Due: 1_format

chore(deps): add -D eslint-related deps
  package.json
  pnpm-lock.yaml
Due: 1_format

feat: add `eslint.config.mjs`
  eslint.config.mjs
Due: 1_format, 2_lint

chore: update `JSDoc` in `eslint.config.mjs`
  eslint.config.mjs
Due: 1_format, 2_lint

refactor: rename symbol
  layouts/component-layout.tsx
Due: 1_format, 2_lint

fix: fixed layout styles
  components/data-display/component-preview.tsx
  components/layouts/component-body.tsx
  layouts/component-layout.tsx
Due: 1_format, 2_lint

ci: removed specific pnpm version from action.yml
  .github/composite-actions/install/action.yml
Due: none

build(package.json): updated packageManager version hash
  package.json
Due: 1_format

chore(format): ran `prettier cspell.json -w`
  cspell.json
Due: 1_format

chore(cspell): add words in `eslint.config.mjs`
  cspell.json
Due: 1_format

fix: fixed build error
  @types/search.d.ts
  components/navigation/tree.tsx
  contexts/i18n-context.tsx
  i18n/content.en.json
  i18n/content.ja.json
  utils/i18n.ts
Due: 1_format, 2_lint

fix: fixed format
  tsconfig.node.json
Due: 1_format
